body {
  margin: 0;
  background: #FFFFFF;
}

div {
  width: 35%;
  height: 35%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

span {
  display: block;
  position: absolute;
  width: 50%;
  height:35%;
  border-radius: 50%;
  box-shadow: 2px 2px 3px rgba(0,0,0,.4);
  -webkit-animation: run 2s ease-in-out;
  animation: run 2s ease-in-out;
}

.one {
  background: #F3B222;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-fill-mode: both;
}

@-webkit-keyframes run {
  25% {
    transform: translate(0%, 150%) scale(1); 
    border-radius: 0%;
  }
}

@keyframes run {
  25% {
    transform: translate(0%, 150%) scale(1); 
    border-radius: 0%;
  }
}
