body {
  background: #FFFFFF;
}

/*меню*/

.nav {
background-color: #D3D3D3;
height: 40px;
border-radius: 15px;
}

.menu_bar {
list-style: none;
padding-left: 10px;
display: flex;
padding-top: 10px;
position: static;
}

.menuBurger {
  display: none;
}

.menu a:hover { 
  color: #32CD32;
  box-shadow: 0 0 7px 1px #32CD32;
}

.menu {
  padding-right: 18px;
}

.menu_decoration {
  text-decoration: none;
  color: #00CED1;
  text-shadow: 1px 1px 2px rgba(0,0,0,.2);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0 0 7px 1px #00CED1;
  word-spacing: 3px;
}

.menu_rotate {
margin: 2px;
margin-left: 8px;
}

/*Параметры анимации*/

.animation {
padding: 20px;
padding-bottom: 70px;
}

.cube {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 2px 2px 3px rgba(0,0,0,.4);
  -webkit-animation: cube 2s ease-in-out;
  animation: cube 2s ease-in-out; 
  animation-fill-mode: forwards;
}

.one {
  z-index: -100;
  background: #F3B222;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  animation-duration: 2s;
}

/*Анимация*/

@-webkit-keyframes cube {
  25% {
    transform: translate(150%, 0%) scale(1); 
    border-radius: 0%;
  }
}

@keyframes cube {
  25% {
    transform: translate(150%, 0%) scale(1); 
    border-radius: 0%;
  }
}

/*Протативный дизайн меню*/

@media (max-width: 720px) {
  .menuBurger {
    display: inline-block;
  }
  
  .menu_bar {
    display: none;
    position: absolute;
    padding-left: 0px;
    border: 0.5px solid #D3D3D3;
    border-width: 3px;
    border-radius: 15px;
    margin-top: 15px;
    background: #D3D3D3;
    white-space: nowrap;
    width: 40%;
  }
    
  .menu {
    display: inline-block;
    background: #FFFFFF;
    border: 0.5px solid #FFFFFF;
    border-width: 3px;
    margin-bottom: 20px;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .menu_decoration {
    border: none;
    box-shadow: none;
  }
    
  .menu a:hover { 
    color: #32CD32;
    border-color: #32CD32;  
  }
}

