body {
  background: #FFFFFF;
}

/* Корректное отображение названия сайта или раздела, где находится посетитель */

.correct_title {
  padding-top: 45px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

/* меню */

.nav {
  background-color: #D3D3D3;
  border-radius: 15px;
  position: fixed;
  top: 0;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
  margin-right: 10px;
}

.menu_bar {
  list-style: none;
  padding-left: 10px;
  display: flex;
}

.menuBurger {
  display: none;
}

.menu_button {
  margin: 2px;
  margin-left: 8px;
  display: inline-block;
  transition: transform 0.2s;
}

.menu_bar li {
  padding-right: 18px;
}

.menu_bar a {
  text-decoration: none;
  color: #00CED1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0 0 7px 1px #00CED1;
  word-spacing: 3px;
}

.menu_bar a:hover {
  background-color: #32CD32;
  color: #FFFFFF;
  box-shadow: 0 0 7px 1px #32CD32;
}

.menu_rotate.active {
  transform: rotate(90deg);
}

/* Параметры анимации */

.animation {
  padding: 20px;
  padding-bottom: 70px;
}

.cube {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  -webkit-animation: cube 1s ease-in-out;
  animation: cube 1s ease-in-out;
  animation-fill-mode: forwards;
}

.one {
  z-index: -100;
  background: #F3B222;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

/* Анимация куба */

@-webkit-keyframes cube {
  100% {
    transform: translate(150%, 0%) scale(1);
    border-radius: 0%;
  }
}

@keyframes cube {
  100% {
    transform: translate(150%, 0%) scale(1);
    border-radius: 0%;
  }
}

/* Анимация меню */

@-webkit-keyframes rotation {
  0% {
    transform: translateX(0) rotate(0);
  }

  100% {
    transform: translateX(0) rotate(0.25turn);
  }
}

@keyframes rotation {
  0% {
    transform: translateX(0) rotate(0);
  }

  100% {
    transform: translateX(0) rotate(0.25turn);
  }
}

/* Протативный дизайн меню */

@media (max-width: 1000px) {
  .menuBurger {
    display: inline-block;
  }

  .menu_bar li {
    display: block;
    padding-right: 0px;
    background: #FFFFFF;
    border-top: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    outline: 0.6px solid #808080;
    border-radius: 0px;
    margin: 0px 0px;
    cursor: pointer;
  }

  .menu_bar a {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    display: block;
    text-decoration: none;
  }

  .menu_bar {
    display: none;
    position: absolute;
    padding-left: 0px;
    padding-top: 0px;
    border-bottom: 0.5px solid #808080;
    border-right: 0.5px solid #808080;
    border-left: 0.5px solid #808080;
    border-width: 3px;
    border-radius: 0px 0px 3px 3px;
    margin-left: 12px;
    margin-top: 0px;
    background: #D3D3D3;
    width: 279px;
    white-space: nowrap;
    overflow: auto;
    max-height: 99px;
  }
}

